<section id="feature" class="feature">
    <div class="container">
        <div class="section-header">
            <h2>Ürün Detayları</h2>
        </div><!--/.section-header-->
        <div class="feature-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let images of productImages">
                            <div class="single-feature">
                                <img [src]="images.imageUrl=='' ? '../../../assets/img/noimage.jpg': '../../../assets/img/'+images.imageUrl"
                                    alt="feature image">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isAuth" class="col-md-2">
                    <div class="form-group text-center">
                        <label for="" class="label-control">Adet</label>
                        <input type="text" class="form-control text-center" [(ngModel)]="quantity"
                            [ngModelOptions]="{standalone:true}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" (click)="addBasket()" [disabled]="quantity<=0">Sepete
                            Ekle</button>
                    </div>
                </div>
            </div>

        </div>
    </div><!--/.container-->

</section>